{% extends 'base.html.twig' %}

{% block title %}Picture index{% endblock %}

{% block filter %}
{%  if categories is not empty %}
<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter is null %}
                Filter by category
            {% else %}
                {{ filter.category|capitalize }} wallpapers
            {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for category in categories %}
            <a class="dropdown-item" href="{{ path('picture_index_filter', {'category':category.id }) }}">{{ category.category }}</a>
            {% endfor %}
        </div>
    </li>
</ul>
{% endif %}
{% endblock %}

{% block body %}
{% include '@EasyAdmin/default/flash_messages.html.twig' %}
<div class="d-flex flex-row justify-content-between align-items-center">
    <h1 class="h2 mb-3 font-weight-normal">Wallpaper gallery</h1>
    <div class="navigation">
        {{ knp_pagination_render(pictures) }}
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
        {% for pictureRow in pictures|batch(4, 'No item') %}
            <div class="col-sm-4">
            {% for picture in pictureRow %}
                {%  if picture == 'No item' %}

                {% else %}
                    <a href="{{ path('picture_show', {'id': picture.id }) }}">
                        <img class="img-thumbnail mb-4" src="{{ asset('/images/' ~ picture.picture ) }}" alt="">
                    </a>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
