{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        {% for error in form.vars.errors.form.getErrors(true) %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endfor %}
    {{ form_widget(form.username, { 'attr': {'class':'form-control', 'placeholder':'Username'} }) }}
    {{ form_widget(form.email, { 'attr': {'class':'form-control', 'placeholder':'Email'} }) }}
    {{ form_widget(form.plainPassword.first, { 'attr': {'class':'form-control', 'placeholder':'Password'} }) }}
    {{ form_widget(form.plainPassword.second, { 'attr': {'class':'form-control', 'placeholder':'Repeat Password'} }) }}
    {{ form_widget(form.firstName, { 'attr': {'class':'form-control', 'placeholder':'First Name', novalidate: 'novalidate'} }) }}
    {{ form_widget(form.lastName, { 'attr': {'class':'form-control', 'placeholder':'Last Name', novalidate: 'novalidate'}}) }}
    {{ form_widget(form.extra_info, { 'attr': {'class':'form-control', 'placeholder':'Write about yourself', novalidate: 'novalidate'}}) }}

    <button class="btn btn-block btn-outline-dark" type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}
