<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        {% endblock %}

    </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <form class="form-inline my-1">
                    <a class="navbar-brand p-0" href="{{ path('index') }}">Wallpaper Exchange </a>
                </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-dark" id="navbarResponsive">
                {% block filter %}
                {% endblock %}
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('index') }}">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('picture_index') }}">Wallpapers</a>
                </li>
                  <li class="nav-item dropdown navbar-dark">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Profile
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          {% if app.user %}
                              <a class="dropdown-item disabled">You have: {{ app.user.points }} points</a>
                              <div class="dropdown-divider"></div>
                              {% if is_granted('ROLE_ADMIN') %}
                                  <a class="dropdown-item" href="{{ path('easyadmin') }}">Admin panel</a>
                              {% endif %}
                              <a class="dropdown-item" href="{{ path('picture_new') }}">Add a wallpaper</a>
                              <a class="dropdown-item" href="{{ path('user_edit', {'id': app.user.id }) }}">Edit profile</a>
                              <a class="dropdown-item" href="{{ path('app_logout') }}">Log out</a>
                          {% else %}
                              <a class="dropdown-item" href="{{ path('app_login') }}">Sign in</a>
                              <a class="dropdown-item" href="{{ path('user_registration') }}">Register</a>
                           {% endif %}
                      </div>
                  </li>
              </ul>
            </div>
          </div>
        </nav>
        {% endblock %}

        <div class="container move-down">

            {% block body %} {% endblock %}
      </div>

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

           <!-- Renders app.js & a webpack runtime.js file
               <script src="/build/runtime.js"></script>
               <script src="/build/app.js"></script>
            parent() }}
            encore_entry_script_tags('checkout') }}-->
        {% endblock %}
    </body>
</html>
